{% extends "inventory/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Book id</th>
      <th scope="col">Book name</th>
      <th scope="col">Author</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{book.id}}</th>
      <td>{{book.book_name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.book_count}}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
